@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px white;
}

div {
  margin: 3rem;
}
